<div class="comment-card">
  <div class="comment-header">
    <img class="comment-pp" src="{{user.user_image}}" alt="people" />
    <h4>{{format_date createdAt}}</h4>
  </div>
  <div class="comment-body"><h4 class="comment-title">{{comment_desc}}</h4>
  </div>

  <div class="comment-footer">
    <span class="like-icon"><i class="far fa-heart"></i></span>
    <h4 class="comment-author">{{user.username}}</h4>

  </div>
</div>