<section class="comment-card-holder">
  {{! comment card  }}
  <article class="comment-card">
    {{! comment card header }}
    <div class="comment-card-header">
      <div class="name-image-holder">
        <div class="user-profile-img-holder">
          <img
            class="user-profile-img"
            src="/uploads/{{user.user_image}}"
            alt="user profile picture"
          />
        </div>
        <h2 class="comment-card-username">{{user.username}}</h2>
      </div>

      <h2 class="comment-card-date"> {{formatDate createdAt}} </h2>
    </div>
    {{! comment card body }}
    <p class="comment-card-body">"{{comment_desc}}"</p>
  </article>
  {{! comment card end }}
</section>