<div class="comments">
  <div class="comment-card">
    <div class="comment-header">
      <span class="comment__icon"><i class="fa-thin fa-mug-hot"></i></span>
      <h4>{{format_date createdAt}}</h4></div>
    <div class="comment-body"><h4
        class="comment-title"
      >{{comment_desc}}</h4></div>

    <div class="comment-footer">
      <div class="like-icon"><i class="fa-thin fa-mug-hot"></i></div>
      <h4 class="comment-author">{{user.username}}</h4>

    </div>
  </div>
</div>