<div class="add-recipe-container">
  <section class="add-recipe-header">
    <h1>Add a new recipe</h1>
    <p>Fill in all of the below information and share your recipe with everyone!</p>
  </section>
  <form id="myForm" name="myForm">
    <section class="add-recipe-form">
      <p class="input-title">RECIPE IMAGE</p>
      <input type="file" class="file-upload" id="myFile" name="recipe_image" />
      <p class="input-title">RECIPE NAME</p>
      <input
        type="text"
        class="add-recipe-name"
        id="add-recipe-name"
        placeholder="E.g. Salmon Pesto Pasta"
        name="recipe_title"
      />
      <p class="input-title">TOTAL TIME</p>
      <p class="sub-text">What is the total recipe time for both prep and
        cooking?</p>
      <div class="cooking-time-wrapper">
        <input
          type="number"
          class="add-recipe-cooking-time-hours"
          id="add-recipe-cooking-time-hours"
          name="recipe_hours"
        />
        <label class="cooking-time-hours">hours</label>
        <input
          type="number"
          class="add-recipe-cooking-time-mins"
          id="add-recipe-cooking-time-mins"
          name="recipe_mins"
        />
        <label class="cooking-time-mins">minutes</label>
      </div>
      <p class="input-title">PORTIONS</p>
      <p class="sub-text">How many people does the recipe serve?</p>
      <input
        type="number"
        class="add-recipe-serves"
        id="add-recipe-serves"
        name="recipe_serves"
      />
      <p class="input-title">SUMMARY</p>
      <p class="sub-text">Give a brief overview of the recipe.</p>
      <textarea
        type="text"
        class="add-recipe-summary"
        id="add-recipe-summary"
        name="recipe_summary"
      ></textarea>
      <p class="input-title">RECIPE DIET</p>
      <p class="sub-text">Select your recipes dietary preferences.</p>
      <input type="checkbox" id="vegan" name="recipe_diet" value="Vegan" />
      <label for="vegan">Vegan</label>
      <input
        type="checkbox"
        id="vegetarian"
        name="recipe_diet"
        value="Vegetarian"
      />
      <label for="vegetarian">Vegetarian</label>
      <input
        type="checkbox"
        id="pescatarian"
        name="recipe_diet"
        value="Pescatarian"
      />
      <label for="Pescatarian">Pescatarian</label>
      <input type="checkbox" id="halal" name="recipe_diet" value="Halal" />
      <label for="Halal">Halal</label>
      <input
        type="checkbox"
        id="gluten-free"
        name="recipe_diet"
        value="Gluten-free"
      />
      <label for="gluten-free">Gluten-free</label>
      <input
        type="checkbox"
        id="sugar-free"
        name="recipe_diet"
        value="Sugar-free"
      />
      <label for="sugar-free">Sugar-free</label>
      <input
        type="checkbox"
        id="lactose-free"
        name="recipe_diet"
        value="Lactose-free"
      />
      <label for="lactose-free">Lactose-free</label>
      <p class="input-title">RECIPE SPICE</p>
      <p class="sub-text">Check the box if the recipe is spicy.</p>
      <input type="checkbox" id="spice" name="recipe_spice" value="Spice" />
      <label for="spice">Spicy</label>
      <p class="input-title">RECIPE MAIN INGREDIENTS</p>
      <p class="sub-text">What are the main ingredients of the recipe?</p>
      <input
        type="checkbox"
        id="beef"
        name="recipe_ingredients_tags"
        value="Beef"
      />
      <label for="beef">Beef</label>
      <input
        type="checkbox"
        id="vegetables"
        name="recipe_ingredients_tags"
        value="Vegetables"
      />
      <label for="vegetables">Vegetables</label>
      <input
        type="checkbox"
        id="pasta"
        name="recipe_ingredients_tags"
        value="Pasta"
      />
      <label for="pasta">Pasta</label>
      <input
        type="checkbox"
        id="poultry"
        name="recipe_ingredients_tags"
        value="Poultry"
      />
      <label for="poultry">Poultry</label>
      <input
        type="checkbox"
        id="pork"
        name="recipe_ingredients_tags"
        value="Pork"
      />
      <label for="pork">Pork</label>
      <input
        type="checkbox"
        id="seafood"
        name="recipe_ingredients_tags"
        value="Seafood"
      />
      <label for="seafood">Seafood</label>
      <p class="input-title">RECIPE CUISINE</p>
      <p class="sub-text">What is the recipe cuisine?</p>
      <input
        type="checkbox"
        id="chinese"
        name="recipe_cuisine"
        value="Chinese"
      />
      <label for="chinese">Chinese</label>
      <input
        type="checkbox"
        id="italian"
        name="recipe_cuisine"
        value="Italian"
      />
      <label for="italian">Italian</label>
      <input type="checkbox" id="indian" name="recipe_cuisine" value="Indian" />
      <label for="indian">Indian</label>
      <input
        type="checkbox"
        id="spanish"
        name="recipe_cuisine"
        value="Spanish"
      />
      <label for="spanish">Spanish</label>
      <input
        type="checkbox"
        id="portuguese"
        name="recipe_cuisine"
        value="Portuguese"
      />
      <label for="portuguese">Portuguese</label>
      <input
        type="checkbox"
        id="american"
        name="recipe_cuisine"
        value="American"
      />
      <label for="american">American</label>
      <input
        type="checkbox"
        id="english"
        name="recipe_cuisine"
        value="English"
      />
      <label for="english">English</label>
      <input
        type="checkbox"
        id="middleeastern"
        name="recipe_cuisine"
        value="Middle Eastern"
      />
      <label for="middleeastern">Middle Eastern</label>
      <input type="checkbox" id="asian" name="recipe_cuisine" value="Asian" />
      <label for="asian">Asian</label>
      <input type="checkbox" id="french" name="recipe_cuisine" value="French" />
      <label for="french">French</label>
      <input
        type="checkbox"
        id="european"
        name="recipe_cuisine"
        value="European"
      />
      <label for="european">European</label>
      <p class="input-title">INGREDIENTS</p>
      <p class="sub-text">Remember to add the amount and unit. To add more
        ingredients, use the + button.</p>
      <div class="recipe-ingredients-container">
        <input
          type="text"
          class="add-recipe-ingredients"
          id="add-recipe-ingredients"
          name="recipe_ingredients"
          placeholder="E.g. 75g Penne Pasta"
        />
      </div>
      <button class="add-ingredient"><i
          class="fa fa-plus"
          aria-hidden="true"
        ></i></button>
      <p class="input-title">METHOD</p>
      <p class="sub-text">To add more steps, use the + button.</p>
      <div class="recipe-method-container">
        <textarea
          class="add-recipe-method-step"
          id="add-recipe-method-step"
          name="recipe_method"
          placeholder="E.g. Step one: "
        ></textarea>
      </div>
      <button class="add-method-step"><i
          class="fa fa-plus"
          aria-hidden="true"
        ></i>
      </button>
    </section>
  </form>
  <button class="submit-recipe">Submit recipe</button>
</div>

<script src="/js/add-recipe.js"></script>