<section class="dashboard-holder">

  <article class="recommended-options">
    <h1>hello</h1>
  </article>

  {{!-- {{> recipe-cards }} --}}
  {{> image-recipe-cards-modal }}
  {{> image-recipe-cards-modal }}
  {{> image-recipe-cards-modal }}
  {{> image-recipe-cards-modal }}
  {{> image-recipe-cards-modal }}
  {{> image-recipe-cards-modal }}
  {{> image-recipe-cards-modal }}
  {{> image-recipe-cards-modal }}
  {{> image-recipe-cards-modal }}
  

  
</section>

{{! <span class="heart-icon-full"><i class="fas fa-heart"></i><span class="recipe-icon-likes-text">30
        likes</span></span> }}

  <script src="/js/modal.js"></script>