<section class="dashboard-holder" id="dashboard-holder">
  <article class="recommended-options">
    <h1>Hello {{ user.username }}</h1>
  </article>

  {{#each recipeCards as |recipeCard| }}
  {{> recipe-cards recipeCard}}
  {{/each}}

</section>


{{! <span class="heart-icon-full"><i class="fas fa-heart"></i><span class="recipe-icon-likes-text">30
    likes</span></span> }}

<script src="/js/modal.js"></script>