<div class="profile__edit__content">
    <section class="edit__profile__header">
        <h1>Update Your Profile</h1>
    </section class="update-mage">
    <form method="POST" action="/api/users/updateProfile" enctype="multipart/form-data">
        <section class="profile__update__form">
            <div class="update__image">
                <div>
                    <img src="/uploads/{{user_image}}" alt="Profile Image" class="profile__image">
                </div>
                <div class="update__input">
                    <input type="file" name="profile-file" id="profile-file" value="Upload profile picture"/>
                </div>
            </div>
    
            <div class="profile__update">
                <p>FIRST NAME</p>
                <input
                type="text"
                value="{{first_name}}"
                class="update-input"
                name="firstname"
                placeholder="E.g. Sampreeti "
                />
                <br>
                <p>LAST NAME</p>
                <input
                type="text"
                value="{{last_name}}"
                class="update-input"
                name="lastname"
                placeholder="E.g. Das"
                />
                <br>
                <p>BIOGRAPHY</p>
                <textarea rows="10"
                class="update-textarea"
                name="userbio"
                placeholder="E.g. Write something about you."
                >{{user_bio}}</textarea>
            </div>
            <div>
                <input type="submit" class="edit__profile__btn" value="Save Changes">
            </div>
        </section> 
         
    </form>
</div>