<div class="profile__content">
    <section class="content__top">
        <div class="profile__info">
          <div class="profile__left">
            <img src="/images/sample-profile.jpg" alt="Profile Image" class="profile__image">
          </div>
          <div class="profile__middle">
            <h1>Sampreeti Das</h1>
            <p>Sampreeeti Bio</p>
          </div>
          <div class="profile__right">
            <button class="btn profile__update__btn"><i class="fa-solid fa-pen-to-square"></i>
            Edit</button>
          </div>
      </div>
    </section>

    <div class="content__middle">
      <h3>My Recipes</h3>
      <hr>
    </div>

    <section class="content__bottom">
         <div class="card">
            <img class="card__image" src="/images/sample-profile.jpg" alt="">
            <div class="card__content">
                <p>
                  Recipe Name
                </p>
            </div>
            <div class="card__info">
              <div>
               <i class="fa-solid fa-heart"></i>140
              </div>
              <div>
                <a href="./" class="card__link">View Recipe</a>
              </div>
            </div>
          </div>

        <div class="card">
            <img class="card__image" src="/images/sample-profile.jpg" alt="">
            <div class="card__content">
                <p>
                  Recipe Name
                </p>
            </div>
            <div class="card__info">
              <div>
                <i class="material-icons">thumb_up</i>140
              </div>
              <div>
                <a href="./" class="card__link">View Recipe</a>
              </div>
            </div>
          </div>

          <div class="card">
            <img class="card__image" src="/images/sample-profile.jpg" alt="">
            <div class="card__content">
                <p>
                  Recipe Name
                </p>
            </div>
            <div class="card__info">
              <div>
                <i class="material-icons">thumb_up</i>140
              </div>
              <div>
                <a href="./" class="card__link">View Recipe</a>
              </div>
            </div>
          </div>

          <div class="card">
            <img class="card__image" src="/images/sample-profile.jpg" alt="">
            <div class="card__content">
                <p>
                  Recipe Name
                </p>
            </div>
            <div class="card__info">
              <div>
                <i class="material-icons">thumb_up</i>140
              </div>
              <div>
                <a href="./" class="card__link">View Recipe</a>
              </div>
            </div>
          </div>


          <div class="card">
            <img class="card__image" src="/images/sample-profile.jpg" alt="">
            <div class="card__content">
                <p>
                  Recipe Name
                </p>
            </div>
            <div class="card__info">
              <div>
                <i class="material-icons">thumb_up</i>140
              </div>
              <div>
                <a href="./" class="card__link">View Recipe</a>
              </div>
            </div>
          </div>

          <div class="card">
            <img class="card__image" src="/images/sample-profile.jpg" alt="">
            <div class="card__content">
                <p>
                  Recipe Name
                </p>
            </div>
            <div class="card__info">
              <div>
                <i class="material-icons">thumb_up</i>140
              </div>
              <div>
                <a href="./" class="card__link">View Recipe</a>
              </div>
            </div>
          </div>
          
    </section>
  
</section>
