<div class="profile__content">
    <section class="edit__profile__header">
        <h1>Update Your Profile</h1>
    </section>
    <section class="profile__update_form">
        <p>FIRST NAME</p>
        <input
        type="text"
        class="update-first-name"
        id="update-first-name"
        placeholder="E.g. Sampreeti "
        />
        <p>LAST NAME</p>
        <input
        type="text"
        class="update-last-name"
        id="update-last-name"
        placeholder="E.g. Das"
        />
        <p>BIOGRAPHY</p>
        <input
        type="text"
        class="update-bio"
        id="update-bio"
        placeholder="E.g. Write something about you."
        />
    </section>
    <button class="Update__profile">Update</button>
</div>