<section class="dashboard-holder">
  <article class="recommended-options">
    <h1>hello</h1>
  </article>
  {{#each recipeCards as |recipeCard| }}
  {{> recipe-cards recipeCard}}
  {{/each}}
</section>