.add-recipe-container {
  margin-top: 4em;
}

.add-recipe-header {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1em 2em;
}

.add-recipe-form {
  padding: 2em;
  width: 40vw;
  background-color: white;
  border-radius: 1em;
}

.input-title {
  text-align: left;
}

.sub-text {
  color: rgb(131, 129, 129);
  font-size: small;
  font-style: italic;
  text-align: left;
}

.file-upload {
  margin: 1em 0;
  font-family: "Roboto";
}

.add-recipe-name {
  width: 100%;
  color: black;
  padding: 1em 1.2em;
  margin: 1em 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.cooking-time-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-recipe-cooking-time-hours {
  width: 6em;
  padding: 1em 1.2em;
  margin: 1em 1em 1em 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-recipe-cooking-time-mins {
  width: 6em;
  padding: 1em 1.2em;
  margin: 1em 1em 1em 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.cooking-time-hours {
  margin-right: 1em;
}

.add-recipe-serves {
  width: 100%;
  padding: 1em 1.2em;
  margin: 1em 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-recipe-ingredients {
  width: 100%;
  padding: 1em 1.2em;
  margin: 1em 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.submit-recipe {
  width: 100%;
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 1em 1.2em;
  margin: 1em 0;
  cursor: pointer;
  border-radius: 1em;
}

.update-recipe {
  width: 100%;
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 1em 1.2em;
  margin: 1em 0;
  cursor: pointer;
  border-radius: 1em;
}

.add-recipe-summary {
  width: 100%;
  padding: 1em 1.2em;
  margin: 1em 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  height: 5em;
}

.add-recipe-method-step {
  width: 100%;
  padding: 1em 1.2em;
  margin: 1em 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  height: 5em;
  font-family: "Courier New", Courier, monospace;
}

.add-ingredient {
  width: 20%;
  font-size: large;
  background-color: orange;
  border: none;
  color: white;
  padding: 0.5em 0.5em;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 1em;
}

.add-method-step {
  width: 20%;
  font-size: large;
  background-color: orange;
  border: none;
  color: white;
  padding: 0.5em 0.5em;
  cursor: pointer;
  border-radius: 4px;
}

@media (max-width: 1350px) {
  .add-recipe-form {
    width: 60vw;
  }
}

@media (max-width: 900px) {
  .add-recipe-form {
    width: 70vw;
  }
}

@media (max-width: 750px) {
  .add-recipe-form {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .add-recipe-form {
    width: 90vw;
    margin-left: 1.5em;
  }
}
