@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");

:root {
  --go-btn: rgb(76, 197, 76);
  --go-btn-hover: rgb(101, 223, 101);
  --main-background: rgb(226, 226, 226);
}

.add-recipe-container {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.add-recipe-header {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1.5em 2em;
}

.add-recipe-form {
  padding: 2em;
  width: 40vw;
  background-color: white;
  border-radius: 1em;
}

.input-title {
  text-align: left;
  margin-top: 30px;
  padding-bottom: 2px;
}

.sub-text {
  color: rgb(131, 129, 129);
  font-size: small;
  font-style: italic;
  text-align: left;
}

.file-upload {
  margin: 1em 0;
  font-family: "Roboto";
}

.add-recipe-name {
  width: 100%;
  color: black;
  padding: 1em 1.2em;
  margin: 1em 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Courier Prime";
}

.cooking-time-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-recipe-cooking-time-hours {
  width: 6em;
  padding: 1em 1.2em;
  margin: 1em 1em 1em 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Courier Prime";
}

.add-recipe-cooking-time-mins {
  width: 6em;
  padding: 1em 1.2em;
  margin: 1em 1em 1em 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Courier Prime";
}

.cooking-time-hours {
  margin-right: 1em;
}

.add-recipe-serves {
  width: 100%;
  padding: 1em 1.2em;
  margin: 1em 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Courier Prime";
}

.add-recipe-ingredients {
  width: 100%;
  padding: 1em 1.2em;
  margin: 1em 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Courier Prime";
}

.submit-recipe {
  width: 100%;
  background-color: var(--go-btn);
  border: none;
  color: white;
  padding: 1em 1.2em;
  margin: 1em 0;
  cursor: pointer;
  border-radius: 1em;
  transition: ease-in-out 0.2s;
}

.submit-recipe:hover {
  background-color: var(--go-btn-hover);
}

.update-recipe {
  width: 100%;
  background-color: var(--go-btn);
  border: none;
  color: white;
  padding: 1em 1.2em;
  margin: 1em 0;
  cursor: pointer;
  border-radius: 1em;
  transition: ease-in-out 0.2s;
}

.add-recipe-summary {
  width: 100%;
  padding: 1em 1.2em;
  margin: 1em 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  height: 5em;
  font-family: "Courier Prime";
}

input[type="checkbox"] {
  margin-top: 10px;
}

.add-recipe-method-step {
  width: 100%;
  padding: 1em 1.2em;
  margin: 1em 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  height: 5em;
  font-family: "Courier Prime";
}

.add-ingredient {
  width: 20%;
  font-size: large;
  background-color: orange;
  border: none;
  color: white;
  padding: 0.5em 0.5em;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 1em;
}

.add-method-step {
  width: 20%;
  font-size: large;
  background-color: orange;
  border: none;
  color: white;
  padding: 0.5em 0.5em;
  cursor: pointer;
  border-radius: 4px;
}

.recipe-feature-span {
  color: red;
}

.middle-border-update {
  border-top: 1px solid #e1ddd8;
  padding-top: 10px;
}

.recipe-features-holder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  gap: 10px;
}

/* checkbox styling ---------------------------- */
ul.ks-cboxtags {
  list-style: none;
  padding: 20px;
}
ul.ks-cboxtags li {
  display: inline;
}
ul.ks-cboxtags li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(139, 139, 139, 0.3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
}

ul.ks-cboxtags li label {
  padding: 8px 12px;
  cursor: pointer;
}

ul.ks-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 2px solid var(--go-btn);
  background-color: var(--go-btn);
  color: #fff;
  transition: all 0.2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid var(--go-btn);
}
/* -------------------------------------------- */

.small-margin {
  margin-top: 10px;
}

@media (max-width: 1350px) {
  .add-recipe-form {
    width: 80vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .add-recipe-form {
    width: 70vw;
  }

  .add-recipe-container {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 750px) {
  .add-recipe-form {
    width: 80vw;
  }

  .add-recipe-container {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .submit-recipe {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .add-recipe-form {
    width: 90vw;
  }

  .add-recipe-container {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .submit-recipe {
    width: 90%;
  }

  ul.ks-cboxtags {
    list-style: none;
    padding: 0px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
