/* 

.comment-card {
  margin: 5px;
  padding: 10px;
  width: 75%;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  border-style: outset;
  border-color: orange;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.comment-card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.comment-header {
  padding: 5px;
  margin: 10px;
}

.comment-icon {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.comment-body {
  padding: 15px;
  font-size: 0.6rem;
}

.comment-pp {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  margin-right: 10px;
}

.comment-title {
  font-family: sans-serif;
  grid-row: 3/4;
  font-weight: 400;
  color: black;
}

.comment-header h4 {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.6rem;
}

.comment-header {
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
} */

.comments-partials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

body {
  text-align: center;
  padding: 30px;
  background: #f8f4f2;
  font-family: Arial;
}

.a-box {
  display: inline-block;
  width: 250px;
  text-align: center;
}

.img-container {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
}

.img-container img {
  /* transform: skew(0deg, -13deg); */
  height: 150px;
  /* margin: -35px 0px 0px -70px; */
}

/* .inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 250px;
  width: 200px;
} */

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
}

.method-comment-row {
  display: flex;
  flex-direction: row;
}

.like-icon:hover {
  color: rgb(226, 42, 42);
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .method-comment-row {
    flex-direction: column;
    align-items: center;
  }
}
