:root {
    --go-btn: rgb(76, 197, 76);
    --go-btn-hover: rgb(101, 223, 101);
    --main-background: rgb(226, 226, 226);
  }

.dashboard-holder {
  width: 100%;
  min-height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--main-background);
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 80px;
}

.recommended-options {
  width: 88.5%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 30px;
}

.trigger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

@media screen and (max-width: 1100px) {
  .dashboard-holder {
    width: 100%;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .recommended-options {
    margin-top: 50px;  }
}

@media screen and (max-width: 520px) {
  .recommended-options {
    width: 100%;
    margin: 35px 10px 0px 10px;
  }
}