.recipe-modal-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}



.recipe-modal-card-img {
  height: 600px;
  width: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.recipe-modal-overlay-btn {
    height: 600px;
  width: 450px;
  border-radius: 10px;
  border: none;
  position: absolute;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.589);
  cursor: pointer;
  color: white;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.recipe-modal-card:hover .recipe-modal-overlay-btn {
    visibility: visible;
}

.recipe-card-icon-hover {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2;
}



:root {
--go-btn: rgb(76, 197, 76);
--go-btn-hover: rgb(101, 223, 101);
--main-background: rgb(226, 226, 226);
--border-colour: rgb(163, 163, 163);
}


.recipe-card {
width: 500px;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
font-family: "Roboto", sans-serif;
}

.recipe-card-header {
width: auto;
background-color: white;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
font-family: "Roboto", sans-serif;
padding: 5px;
display: flex;
align-items: center;
justify-content: space-between;
height: 50px;
}


.chef-icon{
  padding-right: 10px;
}
.recipe-card-author {
margin-left: 15px;
font-weight: 400;
font-size: 16px;
}  

.recipe-card-image {
width: 500px;
height: 560px;
object-fit: cover;
padding: 0;
margin: 0;
box-sizing: border-box;
line-height: 0;
}

.img-test {
  width: 500px;
  height: 560px;
  background-color: violet;
}

.recipe-card-body {
background-color: white;
padding: 5px;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
padding-left: 20px;
padding-right: 20px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
height: 210px;
}

.recipe-card-icon-holder {
display: flex;
justify-content: flex-start;
align-items: center;
text-align: start;
width: 100%;
font-size: 1.3rem;
margin-top: 10px;
margin-bottom: 6px;
gap: 10px;
line-height: 2;
}

.heart-icon-full {
color: rgb(226, 42, 42);
transition: ease-in-out 0.15s;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}

.heart-icon-outline {
color: rgb(0, 0, 0);
transition: ease-in-out 0.15s;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}

.heart-icon-outline:hover {
color: rgb(226, 42, 42);
}

.recipe-icon-likes-text {
color: black;
font-size: 16px;
padding-left: 10px;
padding-right: 10px;
}

.timer-icon {
color: rgb(0, 0, 0);
transition: ease-in-out 0.15s;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
}

.timer-icon-text {
color: black;
font-size: 16px;
padding-left: 10px;
}

.recipe-card-title {
font-weight: 400;
font-size: 18px;
border-bottom: 1px solid var(--border-colour);
margin-bottom: 10px;
width: 100%;
}

.recipe-card-bio {
font-weight: 400;
font-size: 14px;
width: 100%;
color: rgb(41, 41, 41);
line-height: 20px;
margin-bottom: 10px;
overflow-y: auto;
}


.recipe-card-comments {
font-weight: 400;
font-size: 14px;
width: 100%;
color: rgb(41, 41, 41);
line-height: 20px;
margin-bottom: 10px;
font-style: italic;
}
/* ----------------------------------- */

.recipe-card-bio {
scrollbar-width: thin;
scrollbar-color: rgb(148, 148, 148) rgb(46, 46, 46);
}

/* Works on Chrome, Edge, and Safari */
.recipe-card-bio::-webkit-scrollbar {
width: 5px;
opacity: 0;
}

.recipe-card-bio::-webkit-scrollbar-track {
background: rgb(219, 219, 219);
opacity: 1;
}

.recipe-card-bio::-webkit-scrollbar-thumb {
background-color: rgb(119, 119, 119);
border-radius: 60px;
border: rgb(255, 255, 255);
opacity: 0;
}

.modal {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.842);
opacity: 0;
visibility: hidden;
transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%)
}

.close-button {
float: right;
width: 1.5rem;
line-height: 1.5rem;
text-align: center;
cursor: pointer;
border-radius: 0.25rem;
background-color: lightgray;
}



.show-modal {
opacity: 1;
visibility: visible;
transform: scale(1.0);
transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.close-button {
border: none;
margin-right: 10px;
background-color: transparent;
font-size: 20px;
}


.close-icon {
color: black;
transition: ease-in-out 0.25s;
}
.close-icon:hover {
color: rgb(255, 56, 56);
}



/* ----------------------------------------------------- */

@media screen and (max-width: 520px) {
.recipe-card {
width: 300px;
}

.img-test {
width: 300px;
height: 400px;
}

.recipe-card-image {
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 300px;
height: 400px;
object-fit: fill;
}

.recipe-card-bio {
font-weight: 400;
font-size: 12px;
width: 100%;
color: rgb(53, 53, 53);
line-height: 15px;
margin-bottom: 10px;
}
}




