:root {
  --go-btn: rgb(76, 197, 76);
  --go-btn-hover: rgb(101, 223, 101);
  --main-background: rgb(226, 226, 226);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.login-holder {
  background-color: rgb(211, 211, 211);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-card-holder {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.login-card {
  width: 220px;
  margin-bottom: 100px;
}

.image-holder {
  flex-basis: auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form-input {
  border: none;
  height: 40px;
  background-color: rgb(184, 184, 184);
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
  font-family: "Roboto", sans-serif;
}

.username-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.username-span {
  border: none;
  height: 40px;
  width: 42px;
  background-color: rgb(184, 184, 184);
  border-radius: 5px 0px 0px 5px;
  font-family: "Font Awesome 6 free";
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  color: rgb(68, 68, 68);
}

.login-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-btn {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 18px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--go-btn);
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.login-btn:hover {
  background-color: var(--go-btn-hover);
}

.signup-link {
  color: black;
  transition: 0.15s ease-in-out;
  text-decoration: none;
}

.login-detail {
  visibility: visible;
  padding-left: 2px;
  color: red;
  text-decoration: none;
  opacity: 0;
  font-family: "Font Awesome 6 free";
  font-weight: 900;
  transition: 0.15s ease-in-out;
}

.login-detail:hover {
  text-decoration: none;
  visibility: visible;
}

.signup-link:hover {
  transition: 0.15s ease-in-out;
  /* padding-left: 5px; */
}

.signup-link:hover .login-detail {
  font-family: "Font Awesome 6 free";
  font-weight: 900;
  visibility: visible;
  text-decoration: none;
  opacity: 1;
  padding-left: 7px;
}

.underline {
  text-decoration: underline;
}

.logo-container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  cursor: pointer;
  transition: ease-in-out 0.25s;
  margin-top: 80px;
}

.logo-container-login {
  margin-bottom: 20px;
}

/* ----------------------------------- media queries */

@media screen and (max-width: 820px) {
  .image-holder {
    visibility: hidden;
    height: 0;
  }

  .login-holder {
    flex-direction: column;
  }
}
