.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    padding: 10px;
    background-color: rgb(2 2 2 / 80%);
    border-radius: 10px;
    overflow-y: scroll; /* adds scrollbar */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll; /* adds scrollbar */
    max-height: 700px;
}

.recipe-modal-holder {
    background-color: white;
    height: auto;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}



.modal-subheader {
    font-size: 50px;
}

.modal-header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}


.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.close-button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
   }
   
   
   .close-icon {
       color: black;
       transition: ease-in-out 0.25s;
   }
   .close-icon:hover {
       color: rgb(255, 56, 56);
   }
   
   @media screen and (max-width: 520px) {
    .recipe-modal-holder {
        width: 330px;
        margin-left: 20px;
    }
  }
   
  