.profile__content {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  border-radius: 1em;
  margin: 20px;
  padding: 20px;
  background-color: rgb(201, 201, 201);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 100%;
  width: 90%;
  margin-top: 100px;
}

.profile-title {
  font-size: 24px;
  color: #000000;
  padding-top: 10px;
  line-height: 1.5rem;
  margin-bottom: 20px;
}

.content__top {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.content__middle {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.profile__update__btn {
  display: flex;
  gap: 10px;
  background-color: var(--go-btn);
}

.btn__decoration {
  text-decoration: none;
}

.btn {
  border: none;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 120px;
  font-family: "Roboto", sans-serif;
  transition: 0.15s ease-in-out;
}

.content__middle hr {
  height: 2px;
  background-color: rgb(0, 0, 0);
  border: none;
}

.content__bottom {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.profile__left {
  text-align: center;
  max-width: 200px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  border-radius: 10px;
}

.profile__image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.profile__middle {
  width: 450px;
  /*height: 150px;*/
  /* word-break: break-all; */
  margin-left: 30px;
  margin-right: 20px;
}

.profile__middle p {
  font-size: 20px;
  color: #000000;
  line-height: 1.5rem;
}

.profile__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;

  font-size: 0.8em;
}

.card {
  max-width: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  border: 1px solid rgb(184 184 184);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.cards * {
  box-sizing: border-box;
}

.card__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card__content {
  line-height: 1.5;
  font-size: 0.9em;
  font-weight: bold;
  padding: 15px;
  background: #fafafa;
  height: 45px;
  color: #33319f;
}

.card__content > p:first-of-type {
  margin-top: 0;
}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: #eeeeee;
  font-size: 0.8em;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card__info i {
  font-size: 0.9em;
  margin-right: 8px;
}

.card__link {
  color: #64968c;
  text-decoration: none;
  font-weight: bold;
}

.card__link:hover {
  text-decoration: underline;
}

.content-section {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  width: 30%;
  margin-right: 100px;
  float: left;
  height: 265px;
}

.content-section-bio {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  width: 60%;
  float: left;
  height: 265px;
}

.content-section-bio p {
  margin-top: 20px;
  color: #000000;
}

.content-section-bio div {
  background-color: #99939362;
  padding: 30px;
  height: 200px;
  margin-top: 20px;
}

.content-section img {
  height: 100%;
  max-width: 100%;
}

.recipe-section {
  font-family: "Roboto", sans-serif;
  color: #000000;
  width: 20%;
  margin-right: 20px;
  margin-top: 50px;
  float: left;
  height: 150px;
}

.recipe-section img {
  max-width: 100%;
  height: 100%;
}

.image-style {
  border-color: blueviolet;
  border-width: thick;
}

.profile__edit__content {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 1em;
  margin: 80px;
  padding: 30px;
  background-color: silver;
  box-shadow: 0px 13px 10px black;
  height: 100%;
  width: 60%;
}

.edit__profile__header {
  margin: auto;
  margin-bottom: 10px;
}

.update__image {
  margin-left: 100px;
  width: 40%;
  margin-top: 50px;
  display: flex;
}

.profile__update__form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*align-items: center;*/
  color: #555555;
  background: #eeeeee;
  font-size: 0.8em;
  border-radius: 15px;
}

.update__image__input {
  /*margin-top: 30px;*/
  display: flex;
  margin: auto;
  margin-left: 50px;
}

.profile__update {
  width: 75%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 100px;
}

.edit__profile__image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.profile__update p {
  font-weight: bold;
}

.update__input {
  height: 40px;
  padding: 5px;
  border-radius: 5px;
}

.update__textarea {
  padding: 5px;
  border-radius: 5px;
}

.edit__profile__btn {
  float: right;
  margin-right: 25px;
  display: flex;
  gap: 10px;
  background-color: var(--go-btn);
}

@media only screen and (max-width: 768px) {
  .profile__info {
    flex-direction: column;
  }

  .profile__middle {
    width: 240px;
    margin: auto;
  }

  .profile__middle p {
    margin-right: 20px;
  }

  .profile__right {
    margin-top: 20px;
  }

  .card {
    margin-left: 0px;
  }
  .update__image {
    flex-direction: column;
    margin-left: 0px;
    width: 100%;
    align-items: center;
  }

  .edit__profile__image {
    margin-bottom: 20px;
  }

  .update__input {
    width: 100%;
  }

  .update__textarea {
    width: 100%;
  }

  .profile__edit__content {
    width: 80%;
  }

  .profile__update {
    margin-left: 0px;
    align-items: center;
    width: 100%;
  }

  .edit__profile__btn {
    float: none;
    margin: auto;
  }
}

@media screen and (max-width: 850px) {
  .content__bottom {
    justify-content: center;
  }
}
