:root {
  --go-btn: rgb(76, 197, 76);
  --go-btn-hover: rgb(101, 223, 101);
  --main-background: rgb(226, 226, 226);
  --border-colour: rgb(163, 163, 163);
}


.recipe-card {
  width: 410px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-family: "Roboto", sans-serif;
}

.recipe-card-header {
  width: auto;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Roboto", sans-serif;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
}


.chef-icon{
    padding-right: 10px;
}
.recipe-card-author {
  margin-left: 15px;
  font-weight: 400;
  font-size: 16px;
}

.recipe-card-img {
 
  background-position: center;
  background-repeat: no-repeat;
  width: 410px;
  height: 500px;
  object-fit: cover;
}

.recipe-card-body {
  background-color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 210px;
}

.recipe-card-icon-holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  width: 100%;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 6px;
  gap: 10px;
}

.heart-icon-full {
  color: rgb(226, 42, 42);
  transition: ease-in-out 0.15s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-icon-outline {
  color: rgb(0, 0, 0);
  transition: ease-in-out 0.15s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-icon-outline:hover {
  color: rgb(226, 42, 42);
}

.recipe-icon-likes-text {
  color: black;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

.timer-icon {
  color: rgb(0, 0, 0);
  transition: ease-in-out 0.15s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.timer-icon-text {
  color: black;
  font-size: 16px;
  padding-left: 10px;
}

.recipe-card-title {
  font-weight: 400;
  font-size: 18px;
  border-bottom: 1px solid var(--border-colour);
  margin-bottom: 10px;
  width: 100%;
}

.recipe-card-bio {
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  color: rgb(41, 41, 41);
  line-height: 20px;
  margin-bottom: 10px;
  overflow-y: auto;
}


.recipe-card-comments {
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  color: rgb(41, 41, 41);
  line-height: 20px;
  margin-bottom: 10px;
  font-style: italic;
}
  /* ----------------------------------- */

.recipe-card-bio {
  scrollbar-width: thin;
  scrollbar-color: rgb(148, 148, 148) rgb(46, 46, 46);
} 

/* Works on Chrome, Edge, and Safari */
 .recipe-card-bio::-webkit-scrollbar {
  width: 5px;
  opacity: 0;
}

.recipe-card-bio::-webkit-scrollbar-track {
  background: rgb(219, 219, 219);
  opacity: 1;
}

.recipe-card-bio::-webkit-scrollbar-thumb {
  background-color: rgb(119, 119, 119);
  border-radius: 60px;
  border: rgb(255, 255, 255);
  opacity: 0;
}





/* ------------------------------------------- media queries  */

@media screen and (max-width: 1024px) {
  .recipe-card {
    width: 380px;
  }

  .recipe-card-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 380px;
    height: 450px;
    object-fit: fill;
  }

  .recipe-card-bio {
    font-weight: 400;
    font-size: 12px;
    width: 100%;
    color: rgb(53, 53, 53);
    line-height: 15px;
    margin-bottom: 10px;
  }
} 


@media screen and (max-width: 520px) {
  .recipe-card {
    width: 330px;
  }

  .recipe-card-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 330px;
    height: 400px;
    object-fit: fill;
  }

  .recipe-card-bio {
    font-weight: 400;
    font-size: 12px;
    width: 100%;
    color: rgb(53, 53, 53);
    line-height: 15px;
    margin-bottom: 10px;
  }
} 
