@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&display=swap");

:root {
  --go-btn: rgb(76, 197, 76);
  --go-btn-hover: rgb(101, 223, 101);
  --main-background: rgb(226, 226, 226);
  --border-colour: rgb(163, 163, 163);
}

.single-recipe-container {
  height: auto;
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
  margin-top: 100px;
  padding: 30px;
}

.single-recipe-image {
  width: 400px;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 10px;
}

.single-recipe-nav {
  width: 100%;
  display: flex;
  min-height: 100px;
  height: auto;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e1ddd8;
}

.single-recipe-nav-item {
  font-family: "Abril Fatface", cursive;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 1.5em;
}

.single-recipe-nav-item:hover {
  text-decoration: underline;
}

.single-recipe-title-container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.single-recipe-title {
  font-size: 75px;
  font-family: "Noto Serif Display", serif;
  box-sizing: border-box;
  letter-spacing: 3px;
}

.single-recipe-by {
  line-height: 30px;
}

.single-recipe-author {
  line-height: 30px;
  font-family: "Noto Serif Display", serif;
  font-size: 20px;
  padding-top: 10px;
  text-decoration: none;
}

.single-recipe-author-link {
  text-decoration: none;
}

.single-recipe-author-link:hover {
  text-decoration: underline;
}

.single-recipe-details {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e1ddd8;
  padding-bottom: 25px;
}
.recipe-detail-container {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: auto;
  padding-left: 10px;
  padding-right: 15px;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.single-clock {
  padding-right: 10px;
  padding-left: 5px;
}

.single-recipe-summary-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e1ddd8;
}

.single-recipe-subheader {
  font-family: "Noto Serif Display", serif;
  box-sizing: border-box;
  font-size: 60px;
}

.single-recipe-summary {
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-recipe-ingredients-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e1ddd8;
}

.single-recipe-list-container {
  width: 100%;
  margin-top: 20px;
  height: auto;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-recipe-list-item {
  padding: 5px;
  font-size: 25px;
  font-family: "Abril Fatface", cursive;
  padding-bottom: 10px;
}

.list-item-text {
  font-family: "Roboto", sans-serif;
  padding-left: 5px;
}

.single-recipe-method-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e1ddd8;
}

.single-method-list-container {
    max-width: 600px;
    margin-top: 20px;
    height: auto;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .single-method-list-item {
    padding: 5px;
    font-size: 20px;
    font-family: "Abril Fatface", cursive;
    padding-bottom: 50px;
  }

  .method-list-item-text {
    font-family: "Roboto", sans-serif;
    padding-bottom: 10px;
  }

  .single-recipe-comments-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }


  .comment-subheader {
    width: 100%;
    border-bottom: 1px solid #e1ddd8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }

  .single-recipe-input-holder {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

  }

  .single-recipe-comment-input {
  border: none;
  height: 40px;
  background-color: rgb(228, 228, 228);
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  }

  .single-recipe-comment-button {
    display: flex;
    gap: 10px;
    background-color: var(--go-btn);
    width: 120px;
    height: 30px;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
    align-items: center;
    justify-content: center;  
    border: none;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
  }

  .single-recipe-comment-button:hover {
    background-color: var(--go-btn-hover);
  }
  
  @media screen and (max-width: 700px) {
    .single-recipe-container {
      margin-left: 0px;
      margin-right: 0px;
      width: 95%;
    }

    .single-recipe-title-container {
      margin-bottom: 20px;
      height: auto;
    }

    .single-recipe-title {
      font-size: 50px;
      padding-top: 10px;
    }

    .single-recipe-details {
      flex-direction: column;
      gap: 15px;
      padding-bottom: 20px;
    }
    
    .recipe-detail-container {
      margin: 0;
      min-width: 300px;
    }

    .single-recipe-subheader {
      font-size: 50px;
    }
  
    .single-recipe-image {
      width: 330px;
      height: 450px;
    }
    .single-recipe-nav {
      flex-direction: column;
      padding-bottom: 25px;
    }
    .single-recipe-nav-item {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    
  }