* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body-container {
    
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: blueviolet;
    padding: 10px;
}

.link-container {
    display: flex;
    height: 50px;
}

.link-container > * {
    padding: 10px;
}

.body-container {
    width: 100%;
    height: 100vh;
    background-color: grey;
}