:root {
    --go-btn: rgb(76, 197, 76);
    --go-btn-hover:rgb(101, 223, 101);
    --main-background: rgb(226, 226, 226);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: var(--main-background);
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  a {
    color: black;
  }
  
  .body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 70vh;
    justify-content: flex-start;
    background-color: var(--main-background);
  }
  
  header {
    top: 0;
    position: relative;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: var(--main-background);
    padding-left: 12%;
    padding-right: 12%;
    z-index: 3;
    position: fixed;
  }
  
  .link-container {
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
  }

  /* search styles ------------------------------------- */
  .search-icon-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 184, 184);
    border-radius: 5px 0 0 5px;
    padding: 10px;
    height: 30px;
    border: none;
  }

  

  .nav-search-holder {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-search-bar {
    border: none;
    height: 30px;
    width: 100px;
    background-color: rgb(184, 184, 184);
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    font-family: "Roboto", sans-serif;
  }
  
  /* search styles ------------------------------------- */
  
  .btn {
    border: none;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* width: 120px; */
    font-family: "Roboto", sans-serif;
    transition: 0.15s ease-in-out;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    cursor: pointer;
    transition: ease-in-out 0.25s;
  }
  
  .logo-container:hover {
    fill: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
  }
  
  .title-logo {
    padding-left: 10px;
  }
  
  .hamburger-container {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  
  .logo {
    width: 100%;
    height: 100%;
  }
  
  
  
  .hamburger {
    width: 100%;
    height: 100%;
    cursor: pointer;
    stroke: rgb(0, 0, 0);
    transition: ease-in-out 0.25s;
    z-index: 3;
    padding-left: 0;
  }
  
  .hamburger:hover {
    stroke: rgb(0, 0, 0);
    /* transform: rotate(90deg); */
  }
  
  .line-one-high {
    transition: ease-in-out 0.15s;
  }
  
  .line-two-high {
    transition: ease-in-out 0.15s;
  }
  
  
  .hamburger:hover .line-one-high {
    transform: translateX(10px);
  }
  
  .hamburger:hover .line-two-high {
    transform: translateX(-10px);
  }
  /* ---------------------------------------- menu styling  */
  
  /* ----------------------------------- side  
  /* 
   .menu-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }
  
  .menu {
    background-color: rgb(0, 0, 0);
    color: azure;
    height: 100vh;
    width: 10%;
    position: fixed;
    text-align: start;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0%;
    visibility: hidden;
    transition: 0.25s ease-in-out;
    top: 100px;
  }
  
  .menu.open {
    top: 100px;
    opacity: 1;
    width: 30%;
    flex-direction: row;
    position: fixed;
    align-items: center;
    justify-content: start;
    z-index: 2;
    padding-left: 0%;
    visibility: visible;
    transition: 0.25s ease-in-out;
  }  */
  
  /* --------------------------------------------------------- menu overlay */
  
  .menu-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
  }
  
  .menu {
    background-color: black;
    color: azure;
    height: 100vh;
    width: 100%;
    position: fixed;
    text-align: start;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0%;
    visibility: hidden;
    transition: 0.25s ease-in-out;
    top: 70px;
  }
  
  .menu.open {
    top: 70px;
    opacity: 1;
    width: 100%;
    flex-direction: row;
    position: fixed;
    align-items: center;
    justify-content: start;
    z-index: 2;
    padding-left: 0%;
    visibility: visible;
    transition: 0.25s ease-in-out;
  }
  
  .nav-list-container {
    margin-left: 10%;
  }
  
  .nav-list {
    list-style: none;
  }
  
  .nav-list > li {
    padding-bottom: 60px;
  }
  
  .nav-links1,
  .nav-links2,
  .nav-links3,
  .nav-links4 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 300;
  }
  
  .nav-links1,
  .nav-links2 {
    padding-left: 10px;
    transition: 0.15s ease-in-out;
  }
  
  .nav-links1:hover,
  .nav-links2:hover {
    color: rgb(252, 97, 97);
  }
  
  .nav-links3 {
    border: none;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 200px;
    font-family: "Roboto", sans-serif;
    transition: 0.15s ease-in-out;
    background-color: rgb(255, 65, 65);
    font-size: 30px;

  }
  
  .nav-links3:hover {
    background-color: rgb(252, 97, 97);
  }
  
  /* ----------------------------------------------- custom scroll  */
  
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(104, 104, 104) rgb(46, 46, 46);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    opacity: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(46, 46, 46);
    opacity: 0;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(63, 63, 63);
    border-radius: 60px;
    border: rgb(255, 255, 255);
    opacity: 0;
  }
  
  /* ----------------------------------------------------- */
  
  .add-recipe-btn {
    display: flex;
    gap: 10px;
    background-color: var(--go-btn);
    width: 120px;
    height: 30px;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
    align-items: center;
    justify-content: center;  
  }
  
  
  .add-recipe-btn:hover {
    display: flex;
    gap: 10px;
    background-color: var(--go-btn-hover);
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(226, 226, 226);
  }
  

  .add-recipe-link {
    color: black;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .instagrub-link {
    text-decoration: none;
    color: black;
  }

  @media screen and (max-width: 760px) {
    .add-recipe-btn {
      width: 40px;
    }
    .add-recipe-button-text {
      visibility: hidden;
      display: none;
    }

    .nav {
      width: 100%;
      justify-content: space-between;
      padding: 0 10% 0 10%;
      gap: 10px;
    }

    .title-logo {
      visibility: hidden;
      display: none;
      
    }

    .link-container {
      gap: 20px
    }

  
  }
  